@charset "utf-8";

/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */

*,
::before,
::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Initialization
------------------------------*/
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, tfoot, thead, time, tr, th, td, ul, var, video {
    margin: 0;
    padding: 0;
    outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

address, caption, cite, code, dfn, th, var {
    font-style: normal;
    font-weight: normal;
}

body {
    line-height: 1;
    -webkit-text-size-adjust: 100%;
    /*font-size: small;*/
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

del {
    text-decoration: line-through;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff0;
    color: #000;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th {
    text-align: left;
}

fieldset, img {
    border: 0;
    vertical-align: top;
}

img {
    -ms-interpolation-mode: bicubic;
}

ol, ul {
    list-style: none;
}

input, textarea, select {
    font-family: inherit;
    font-weight: inherit;
    border-radius: 0;
}

label, select, [type="checkbox"], [type="submit"] {
    cursor: pointer;
}

[aria-disabled="true"], [disabled] {
    cursor: not-allowed;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

/* Clearfix */
.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

/* Link */
[href] {
    text-decoration: underline;
    color: #0000ff;
}

/* General */
body {
    background: #fff;
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
    font-size: 16px !important;
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 768px) {
    .sp {
        display: none !important;
    }

    [href]:hover,
    [type="submit"]:hover {
        opacity: 0.7;
    }
}

@media screen and (max-width: 767px) {
    .pc {
        display: none !important;
    }

    body {
        overflow-x: hidden;
        /*font-size: 14px;*/
    }
}

@media screen and (min-width: 376px) {
    .show_pc {
        display: none !important;
    }
}
@media screen and (max-width: 375px) {
    .show_sp {
        display: none !important;
    }
}


/* Global Header
------------------------------*/

/* Global Footer
------------------------------*/