@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }

body {
  position: relative; }

.sgt-bld-showme {
  /* display: block!important; */ }

.sgt-builder {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.sgt-builder, .sgt-builder * {
  line-height: normal;
  margin: 0 auto;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-transform: none;
  background-image: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-spacing: 0; }

#sgt-pop__overlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 99; }

.sgt-overlay {
  display: none;
  background: rgba(0, 0, 0, 0);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear; }
  .sgt-overlay__show {
    visibility: visible;
    opacity: .8;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out; }

.sgt-bld__step__content {
  display: none;
  position: fixed;
  z-index: 99999999; }
.sgt-bld__step__content.sgt-bld__center {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }
.sgt-bld__step {
  position: relative; }
  .sgt-bld__step::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
.sgt-bld__step-1 {
  display: flex;
  width: 857px;
  height: 412px;
  background-color: #fff;
  background-position: center center;
  background-repeat: repeat;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 20px; }
  @media screen and (max-width: 767px) {
    .sgt-bld__step-1 {
      display: block;
      width: 100%;
      height: 100%; } }

.sgt-content__image {
  position: relative;
  text-align: center;
  z-index: 100;
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 767px) {
    .sgt-content__image {
      width: 100%;
      height: 100%;
      padding-top: 45px; } }
.sgt-content__offer {
  position: relative;
  top: -12px;
  color: #666666;
  font-size: 14px; }
.sgt-content__form {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms; }

.sgt-subscribeform {
  position: relative;
  width: 393px;
  height: 232px;
  background: #fff;
  text-align: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
  @media screen and (max-width: 767px) {
    .sgt-subscribeform {
      margin: 20px auto; } }
  .sgt-subscribeform__title {
    padding-top: 24px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px; }
  .sgt-subscribeform__description {
    padding-top: 4px;
    padding-bottom: 32px;
    font-weight: 400;
    line-height: 24px;
    font-size: 14px; }
  .sgt-subscribeform__email {
    width: 345px;
    height: 40px;
    background: #FFF;
    font-size: 14px;
    padding: 0 14px;
    line-height: 19px;
    border: 1px solid #D0D0D0;
    border-radius: 6px;
    margin-bottom: 8px; }
  .sgt-subscribeform__button {
    width: 345px;
    height: 40px;
    background: #C1292B;
    font-size: 14px;
    color: #FFF;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 1.25px; }

.sgt-button__close {
  position: absolute;
  right: 24px;
  top: 25px;
  cursor: pointer;
  align-items: center;
  padding: 3px;
  justify-content: center;
  background: #fff;
  z-index: 999;
  transition: 0.5s; }
  .sgt-button__close img {
    display: block;
    width: 16px;
    height: 16px; }

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../img/loader.gif");
  background-repeat: no-repeat;
  background-position: center; }

/*# sourceMappingURL=style.css.map */
